<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/notes.css" />
    <title>Noter</title>
  </head>
  <body>
    <ul>
      <% notes.forEach(element => { %>
      <li>
        <h1><%= element.title %></h1>
        <p><%= element.content %></p>
        <details>
          <summary>Detaljer</summary>
          <p class="">Oprettet: <%= element.createdAt %></p>
          <p>Opdateret: <%= element.updatedAt %></p>
          <p>Id: <%= element.id %></p>
        </details>
        <button onclick="deleteNote('<%= element.id %>')">Slet Note</button>
      </li>
      <% }) %>
    </ul>
    <script src="/js/notes.js"></script>
  </body>
</html>
